* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    padding-top: 20px;
}

button {
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

span {
    color: white;
}

.page-title {
    color: white;
    text-align: center;
    margin: 0;
}

.search-cities {
    background-color: cornsilk;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 0;
}

.list-cities {
    width: 300px;
    padding-top: 20px;
}

.search-history {
    border: 1px solid grey;
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
}

.city-forcast {
    padding-top: 15px;
}

.current-forcast {
    
}

.current-city-forcast {
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 450px;
    margin-left: 10px;
    margin-top: 10px;
}

.card {
    background-color: darkblue;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
}

.five-day {
    /*border: 1px solid grey;*/
    margin-top: 10px;
    margin-left: 10px;
    /*padding-left: 10px;*/
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#five-day-title {
    padding-left: 10px;
    padding-top: 10px;
}